<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Section6</title>
  </head>
  <body>
    <div id="app">
      <strong>computed</strong>
      <p>{{ reversedText }}</p>
      <hr>
      <strong>methods</strong>
      <p>{{ reversedTextMethod() }}</p>
      <hr>
      <strong>getter and setter</strong>
      <p>base price: <input type="text" v-model="basePrice"></p>
      <p>tax included price: <input type="text" v-model="taxIncludedPrice"></p>
      <hr>
      <strong>cache</strong>
      <p>computed</p>
      <ul>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
      </ul>
      <p>methods</p>
      <ul>
        <li>{{ methodNumber() }}</li>
        <li>{{ methodNumber() }}</li>
        <li>{{ methodNumber() }}</li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
  </body>
</html>
