<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Section10</title>
  </head>
  <body>
    <div id="app">
      <p>{{ toggle ? "真" : "偽" }}</p>
      <p v-if="toggle">真</p>
      <p v-else>偽</p>
      <button @click="onToggle">toggle</button>

      <hr>
      <p v-if="color === 'red'">Stop</p>
      <p v-else-if="color === 'yellow'">cantion</p>
      <p v-else-if="color === 'green'">Go</p>
      <p v-else>other............</p>
      <button @click="red">red</button>
      <button @click="yellow">yellow</button>
      <button @click="green">green</button>
      <button @click="other">other</button>

      <hr>
      <button @click="showToggle">toggle</button>
      <p v-show="show">v-show</p>

    </div>

    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
  </body>
</html>
